<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block titulo %}
    <title>SENAC - TI96</title>
    {% endblock %}
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
{% block body %}
<body>
<h1>Projeto Login</h1>
<h2>Aluno: Wilton - TI 96</h2>
{% block formulario %}
<form method="POST">
{{ form.csrf_token }}

    {{ form.email.label }}
    {{ form.email() }}

    {{ form.senha.label }}
    {{ form.senha() }}

    {{ form.botao_confirmacao() }}
     <a href="{{ url_for('criarconta') }}" class="botao-link">Criar Conta</a>

</form>
{% endblock %}
</body>
{% endblock %}
</html>